body {
    color: white;
    background-color: black;
    color: white;
    background-color: #433;
    font-size: 250%;
    font-family: 'Satisfy', cursive;
    margin: 5em 25%;
  }

a {
    font-weight: bold;
  }